#statusPanel, #winStatus {
  padding: 1rem;
}

#winStatus {
  display: none;
}

#map {
  width: 100%;
  height: 80vh;
}

.cache-label {
  text-align: center;
}

#controlPanel, #recenterPanel {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

#restartPanel {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  cursor: pointer;
}

.directionButton {
  width: 50px;
  height: 50px;
  font-size: 20px;
}
