#statusPanel, #winStatus {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.cache-label {
  text-align: center;
}

#controlPanel {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}
